.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerColor);
    padding: 1.5rem 2rem;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* .header-menu a:visited {
    text-decoration: none;
}
.header-menu a:active {
    text-decoration: none;
} */

.header-icon {
    width: 2.5rem;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.maker, .play {
    display: flex;
    align-items: center;
}